<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Pricing Portal</title>
        <link
            rel="stylesheet"
            href="css/style.css"
        />
    </head>
    <body>
        <main>
            <h1 style="text-align: center">Ineviprice</h1>
            <form
                id="build"
                class="grid_wrapper"
                method="post"
                action="/"
            >
                <% for (let component of components) { %> <% console.log(component) %>

                <div class="grid_item_one">
                    <h2>Base Components</h2>
                    <label>
                        Chassis
                        <select
                            name="chassis"
                            id="chassis"
                        >
                            <!-- -->
                            <% for (const [key, value] of
                            Object.entries(component.baseComponents.chassis)) { %>
                            <option value="<%= value %>"><%= key %></option>
                            <% } %>
                        </select>
                    </label>
                    <label>
                        Motherboard
                        <select
                            name="motherboard"
                            id="motherboard"
                        >
                            <% for (const [key, value] of
                            Object.entries(component.baseComponents.motherboard)) {%>
                            <option value="<%= value %>"><%= key %></option>
                            <% } %>
                        </select>
                    </label>

                    <label>
                        PCIe 40G iSLC m.2
                        <input
                            type="text"
                            value="<%= component.baseComponents.pcie %>"
                            name="islc"
                            id="islc"
                            min="68"
                            max="68"
                            step="0"
                        />
                    </label>

                    <label>
                        Cooling/Cabling
                        <input
                            type="text"
                            value="<%= component.baseComponents['cooling_and_cabling']  %>"
                            name="cooling_cabling"
                            id="cooling_cabling"
                            min="75"
                            max="75"
                            step="0"
                        />
                    </label>
                </div>
                <div class="grid_item_two">
                    <h2>Resource Components</h2>

                    <label for="cpu">
                        CPU
                        <select
                            name="cpu"
                            id="cpu"
                        >
                            <% for (const [key, value] of
                            Object.entries(component.resourceComponents["CPU"])) { %>
                            <option value="<%= value %>"><%= key %></option>
                            <% } %>
                        </select>
                    </label>

                    <label for="gpu">
                        GPU
                        <select
                            name="gpu"
                            id="gpu"
                            aria-selected="Nvidia A1000 8G GPU"
                        >
                            <% for (const [key, value] of
                            Object.entries(component.resourceComponents["GPU"])) { %>
                            <option value="<%= value %>"><%= key %></option>
                            <% } %>
                        </select>
                    </label>

                    <label for="ram">
                        RAM
                        <select
                            name="ram"
                            id="ram"
                        >
                            <% for (const [key, value] of
                            Object.entries(component.resourceComponents["RAM"])) { %>
                            <option value="<%= value %>"><%= key %></option>
                            <% } %>
                        </select>
                    </label>

                    <label for="ssd">
                        SSD
                        <select
                            name="ssd"
                            id="ssd"
                        >
                            <% for (const [key, value] of
                            Object.entries(component.resourceComponents["SSD"])) { %>
                            <option value="<%= value %>"><%= key %></option>
                            <% } %>
                        </select>
                    </label>
                </div>

                <div class="grid_item_three">
                    <button type="submit">Get pricing</button>
                </div>

                <% } %>
            </form>

            <div class="flex_container">
                <h2>Pricing for your chosen spec</h2>

                <ul>
                    <li>Retail Price: £ <%= totalRetailCost %></li>
                    <li>Reseller Price: £ <%= totalResellerCost %></li>
                </ul>
            </div>
        </main>
    </body>
</html>

<!--



-->
